.e46_737 {
  background-color: rgba(255, 255, 255, 1);
  width: 1400px;
  height: 3080px;
  position: absolute;
  left: -10px;
  right: 10px;
}
.e46_738 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 1400px;
  height: 92px;
  position: absolute;
  left: -10px;
  right: 10px;
  top: -12px;
}
.e46_739 {
  width: 75px;
  height: 64px;
  position: absolute;
  left: 131px;
  top: 0px;
  background-image: url(images/logo_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e46_740 {
  color: rgba(253.0000001192093, 235.0000011920929, 183.00000429153442, 1);
  width: 139px;
  height: 29px;
  position: absolute;
  left: 99px;
  top: 59px;
  font-family: lato;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
  line-height: px;
}
.e46_741 {
  color: rgba(253.0000001192093, 235.0000011920929, 183.00000429153442, 1);
  width: 48px;
  height: 29px;
  position: absolute;
  left: 567px;
  top: 24px;
  font-family: lato;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e46_742 {
  color: rgba(255, 255, 255, 1);
  width: 59px;
  height: 29px;
  position: absolute;
  left: 674px;
  top: 24px;
  font-family: lato;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e46_743 {
  color: rgba(255, 255, 255, 1);
  width: 72px;
  height: 29px;
  position: absolute;
  left: 792px;
  top: 24px;
  font-family: lato;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e46_744 {
  color: rgba(255, 255, 255, 1);
  width: 56px;
  height: 29px;
  position: absolute;
  left: 923px;
  top: 24px;
  font-family: lato;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e46_745 {
  color: rgba(255, 255, 255, 1);
  width: 32px;
  height: 29px;
  position: absolute;
  left: 1038px;
  top: 24px;
  font-family: lato;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e46_746 {
  color: rgba(255, 255, 255, 1);
  width: 35px;
  height: 29px;
  position: absolute;
  left: 1129px;
  top: 24px;
  font-family: lato;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e46_747 {
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: 29px;
  position: absolute;
  left: 1223px;
  top: 24px;
  font-family: lato;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e46_748 {
  width: 1400px;
  height: 434px;
  position: absolute;
  left: -10px;
  top: 80px;
  background-image: url(images/rectangle_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}
.e46_749 {
  color: rgba(255, 255, 255, 1);
  width: 1278px;
  height: 84px;
  position: absolute;
  left: 99px;
  top: 170px;
  font-family: Lato;
  text-align: left;
  font-size: 69px;
  letter-spacing: 1;
  line-height: px;
}
.e46_767 {
  color: rgba(255, 255, 255, 1);
  width: 436px;
  height: 24px;
  position: absolute;
  left: 146px;
  top: 297px;
  font-family: Lato;
  text-align: right;
  font-size: 25px;
  letter-spacing: 1;
  line-height: px;
}
.e46_768 {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15000000596046448);
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 148px;
  height: 49px;
  position: absolute;
  left: 360px;
  top: 364px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
}
.e46_769 {
  color: rgba(255, 255, 255, 1);
  width: 88px;
  height: 15px;
  position: absolute;
  left: 390px;
  top: 379px;
  font-family: lato;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1;
  line-height: px;
}
.e46_770 {
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 141px;
  height: 49px;
  position: absolute;
  left: 167px;
  top: 364px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
}
.e46_771 {
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: 15px;
  position: absolute;
  left: 197px;
  top: 379px;
  font-family: lato;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1;
  line-height: px;
}
.e46_773 {
  width: 432px;
  height: 640px;
  position: absolute;
  left: 36px;
  top: 853px;
  background-image: url(images/rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e46_778 {
  color: rgba(60.00000022351742, 77.00000301003456, 107.00000122189522, 1);
  width: 432px;
  height: 36px;
  position: absolute;
  left: 504px;
  top: 610px;
  font-family: lato;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1;
  line-height: px;
}
.e46_779 {
  color: rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
  width: 622px;
  height: 77px;
  position: absolute;
  left: 389px;
  top: 683px;
  font-family: lato;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0;
  line-height: px;
}
.e46_780 {
  color: rgba(60.00000022351742, 77.00000301003456, 107.00000122189522, 1);
  width: 123px;
  height: 29px;
  position: absolute;
  left: 669px;
  top: 1281px;
  font-family: lato;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1;
  line-height: px;
}
.e46_781 {
  color: rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
  width: 373px;
  height: 128px;
  position: absolute;
  left: 543px;
  top: 1339px;
  font-family: lato;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
  line-height: px;
}
.e46_782 {
  color: rgba(60.00000022351742, 77.00000301003456, 107.00000122189522, 1);
  position: absolute;
  left: 1080px;
  top: 1281px;
  font-family: lato;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1;
  line-height: px;
}
.e46_783 {
  color: rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
  width: 345px;
  height: 128px;
  position: absolute;
  left: 993px;
  top: 1339px;
  font-family: lato;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
  line-height: px;
}
.e46_784 {
  color: rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
  width: 373px;
  height: 128px;
  position: absolute;
  left: 543px;
  top: 1022px;
  font-family: lato;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
  line-height: px;
}
.e46_785 {
  color: rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
  width: 345px;
  height: 128px;
  position: absolute;
  left: 993px;
  top: 1022px;
  font-family: lato;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
  line-height: px;
}
.e46_786 {
  color: rgba(60.00000022351742, 77.00000301003456, 107.00000122189522, 1);
  width: 230px;
  height: 29px;
  position: absolute;
  left: 1065px;
  top: 964px;
  font-family: lato;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1;
  line-height: px;
}
.e46_787 {
  color: rgba(60.00000022351742, 77.00000301003456, 107.00000122189522, 1);
  width: 228px;
  height: 29px;
  position: absolute;
  left: 616px;
  top: 964px;
  font-family: lato;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1;
  line-height: px;
}
.e46_796 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 1401px;
  height: 747px;
  position: absolute;
  left: 0px;
  top: 1541px;
}
.e59_3 {
  border-radius: 500px;
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 28px;
  height: 28px;
  position: absolute;
  left: 265px;
  top: 1966px;
}
.e59_5 {
  border-radius: 500px;
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 28px;
  height: 28px;
  position: absolute;
  left: 1166px;
  top: 1966px;
}
.e58_103 {
  color: rgba(255, 255, 255, 1);
  width: 6px;
  height: 29px;
  position: absolute;
  left: 276px;
  top: 1962px;
  font-family: Poppins;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
  line-height: px;
}
.e58_101 {
  color: rgba(255, 255, 255, 1);
  width: 6px;
  height: 29px;
  position: absolute;
  left: 1177px;
  top: 1962px;
  font-family: Poppins;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
  line-height: px;
}
.e46_797 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 100px;
  height: 3px;
  position: absolute;
  left: 664px;
  top: 1758px;
}
.e46_801 {
  background-color: rgba(255, 255, 255, 1);
  width: 525px;
  height: 287px;
  position: absolute;
  left: 467px;
  top: 1836px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.46_801 {
  border: 1px solid
    rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e46_802 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 523px;
  height: 90px;
  position: absolute;
  left: 468px;
  top: 2032px;
  border-radius: Symbol(figma.mixed) px;
}
.e46_805 {
  color: rgba(60.00000022351742, 77.00000301003456, 107.00000122189522, 1);
  width: 141px;
  height: 36px;
  position: absolute;
  left: 648px;
  top: 1647px;
  font-family: Poppins;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1;
  line-height: px;
}
.e46_806 {
  color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  width: 263px;
  height: 26px;
  position: absolute;
  left: 587px;
  top: 1708px;
  font-family: Poppins;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0;
  line-height: px;
}
.e46_808 {
  color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  width: 491px;
  height: 155px;
  position: absolute;
  left: 484px;
  top: 1862px;
  font-family: lato;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e46_812 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 24px;
  height: 24px;
  position: absolute;
  left: 640px;
  top: 2184px;
}
.e46_813 {
  background-color: rgb(100, 99, 99);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 685px;
  top: 2184px;
}
.46_813 {
  border: 3px solid
    rgba(9.000000413507223, 86.00000247359276, 102.00000151991844, 1);
}
.e46_814 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 24px;
  height: 24px;
  position: absolute;
  left: 730px;
  top: 2184px;
}
.e46_815 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 24px;
  height: 24px;
  position: absolute;
  left: 775px;
  top: 2184px;
}
.e46_817 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 1400px;
  height: 697px;
  position: absolute;
  left: 0px;
  top: 2291px;
}
.e46_818 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07500000298023224);
  background-color: rgba(255, 255, 255, 1);
  width: 595px;
  height: 116px;
  position: absolute;
  left: 54px;
  top: 2755px;
  border-radius: Symbol(figma.mixed) px;
}
.46_818 {
  border: 2px solid rgba(255, 255, 255, 1);
}
.e46_819 {
  background-color: rgba(255, 255, 255, 1);
  width: 31px;
  height: 116px;
  position: absolute;
  left: 647px;
  top: 2755px;
  border-radius: Symbol(figma.mixed) px;
}
.46_819 {
  border: 1px solid
    rgba(9.000000413507223, 86.00000247359276, 102.00000151991844, 1);
}
.e46_820 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07500000298023224);
  background-color: rgba(255, 255, 255, 1);
  width: 621px;
  height: 45px;
  position: absolute;
  left: 56px;
  top: 2470px;
  border-radius: Symbol(figma.mixed) px;
}
.46_820 {
  border: 2px solid rgba(255, 255, 255, 1);
}
.e46_821 {
  background-color: rgba(255, 255, 255, 1);
  width: 32px;
  height: 45px;
  position: absolute;
  left: 645px;
  top: 2470px;
  border-radius: Symbol(figma.mixed) px;
}
.46_821 {
  border: 1px solid
    rgba(9.000000413507223, 86.00000247359276, 102.00000151991844, 1);
}
.e46_822 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07500000298023224);
  background-color: rgba(255, 255, 255, 1);
  width: 621px;
  height: 45px;
  position: absolute;
  left: 56px;
  top: 2534px;
  border-radius: Symbol(figma.mixed) px;
}
.46_822 {
  border: 2px solid rgba(255, 255, 255, 1);
}
.e46_823 {
  background-color: rgba(255, 255, 255, 1);
  width: 32px;
  height: 45px;
  position: absolute;
  left: 648px;
  top: 2534px;
  border-radius: Symbol(figma.mixed) px;
}
.46_823 {
  border: 1px solid
    rgba(9.000000413507223, 86.00000247359276, 102.00000151991844, 1);
}
.e46_824 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07500000298023224);
  background-color: rgba(255, 255, 255, 1);
  width: 621px;
  height: 45px;
  position: absolute;
  left: 55px;
  top: 2605px;
  border-radius: Symbol(figma.mixed) px;
}
.46_824 {
  border: 2px solid
    rgba(9.000000413507223, 86.00000247359276, 102.00000151991844, 1);
}
.e46_825 {
  background-color: rgba(255, 255, 255, 1);
  width: 32px;
  height: 45px;
  position: absolute;
  left: 647px;
  top: 2605px;
  border-radius: Symbol(figma.mixed) px;
}
.46_825 {
  border: 1px solid
    rgba(9.000000413507223, 86.00000247359276, 102.00000151991844, 1);
}
.e46_826 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07500000298023224);
  background-color: rgba(255, 255, 255, 1);
  width: 621px;
  height: 45px;
  position: absolute;
  left: 54px;
  top: 2684px;
  border-radius: Symbol(figma.mixed) px;
}
.46_826 {
  border: 2px solid rgba(255, 255, 255, 1);
}
.e46_827 {
  background-color: rgba(255, 255, 255, 1);
  width: 32px;
  height: 45px;
  position: absolute;
  left: 646px;
  top: 2684px;
  border-radius: Symbol(figma.mixed) px;
}
.46_827 {
  border: 1px solid
    rgba(9.000000413507223, 86.00000247359276, 102.00000151991844, 1);
}
.e46_828 {
  background-color: rgba(
    58.00000034272671,
    120.00000044703484,
    136.00000709295273,
    1
  );
  width: 1400px;
  height: 92px;
  position: absolute;
  left: 0px;
  top: 2988px;
}
.e46_829 {
  color: rgba(255, 255, 255, 1);
  width: 190px;
  height: 36px;
  position: absolute;
  left: 828px;
  top: 2343px;
  font-family: lato;
  text-align: center;
  font-size: 33px;
  letter-spacing: 1;
  line-height: px;
}
.e46_831 {
  color: rgba(255, 255, 255, 1);
  width: 551px;
  height: 30px;
  position: absolute;
  left: 845px;
  top: 2542px;
  font-family: lato;
  text-align: left;
  font-size: 21px;
  letter-spacing: 0;
  line-height: px;
}
.e46_832 {
  color: rgba(255, 255, 255, 1);
  width: 216px;
  height: 30px;
  position: absolute;
  left: 845px;
  top: 2613px;
  font-family: lato;
  text-align: left;
  font-size: 21px;
  letter-spacing: 0;
  line-height: px;
}
.e46_833 {
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: 30px;
  position: absolute;
  left: 845px;
  top: 2684px;
  font-family: lato;
  text-align: left;
  font-size: 21px;
  letter-spacing: 0;
  line-height: px;
}
.e46_834 {
  color: rgba(255, 255, 255, 1);
  width: 309px;
  height: 30px;
  position: absolute;
  left: 845px;
  top: 2755px;
  font-family: lato;
  text-align: left;
  font-size: 21px;
  letter-spacing: 0;
  line-height: px;
}
.e46_835 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 30px;
  position: absolute;
  left: 845px;
  top: 2485px;
  font-family: lato;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e46_836 {
  color: rgba(255, 255, 255, 0.8999999761581421);
  width: 272px;
  height: 20px;
  position: absolute;
  left: 610px;
  top: 3015px;
  font-family: lato;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0;
  line-height: px;
}
.e46_838 {
  color: rgba(255, 255, 255, 0.800000011920929);
  width: 69px;
  height: 19px;
  position: absolute;
  left: 671px;
  top: 3050px;
  font-family: lato;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0;
  line-height: px;
}
.e46_839 {
  color: rgba(255, 255, 255, 0.800000011920929);
  width: 47px;
  height: 19px;
  position: absolute;
  left: 743px;
  top: 3050px;
  font-family: lato;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0;
  line-height: px;
}
.e46_840 {
  background-color: rgba(255, 253.93750101327896, 253.93750101327896, 1);
  width: 156px;
  height: 50px;
  position: absolute;
  left: 524px;
  top: 2902px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 10px rgb(255 255 255 / 25%);
}
.e46_841 {
  color: rgba(0, 0, 0, 1);
  width: 69px;
  height: 36px;
  position: absolute;
  left: 570px;
  top: 2918.5px;
  font-family: lato;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1;
  line-height: px;
}
.e54_72 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 87px;
  height: 73px;
  position: absolute;
  left: 686px;
  top: 855px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.e54_73 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 86px;
  height: 73px;
  position: absolute;
  left: 1137px;
  top: 855px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.54_74 {
  border: 4px solid rgba(255, 255, 255, 1);
}
.e54_74 {
  width: 35.0001220703125px;
  height: 36px;
  position: absolute;
  left: 1162px;
  top: 875px;
}
.54_75 {
  border: 4px solid rgba(255, 253.93750101327896, 253.93750101327896, 1);
}
.e54_75 {
  width: 15.5555419921875px;
  height: 10px;
  position: absolute;
  left: 1171.7222900390625px;
  top: 889px;
}
.54_76 {
  border: 4px solid rgba(255, 255, 255, 1);
}
.e54_76 {
  width: 29.1666259765625px;
  height: 36px;
  position: absolute;
  left: 715px;
  top: 875px;
}
.e54_84 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 87px;
  height: 73px;
  position: absolute;
  left: 686px;
  top: 1179px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.e54_85 {
  background-color: rgba(
    9.000000413507223,
    86.00000247359276,
    102.00000151991844,
    1
  );
  width: 87px;
  height: 73px;
  position: absolute;
  left: 1136px;
  top: 1179px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.54_86 {
  border: 4px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}
.e54_86 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 711px;
  top: 1197px;
}
.e54_87 {
  transform: rotate(180deg);
  width: 19.4444580078125px;
  height: 14px;
  position: absolute;
  left: 1189.3349609375px;
  top: 1198px;
}
.54_87 {
  border: 4px solid rgba(255, 255, 255, 1);
}
.e54_88 {
  transform: rotate(180deg);
  width: 27.2237548828125px;
  height: 22.00634765625px;
  position: absolute;
  left: 1193.2237548828125px;
  top: 1212px;
}
.54_88 {
  border: 4px solid rgba(255, 255, 255, 1);
}
.e57_91 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 41px;
  height: 41px;
  position: absolute;
  left: 567px;
  top: 448px;
}
.e57_92 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 41px;
  height: 41px;
  position: absolute;
  left: 620px;
  top: 448px;
}
.e57_93 {
  border-radius: 500px;
  background-color: rgba(
    119.00000050663948,
    119.00000050663948,
    119.00000050663948,
    1
  );
  width: 41px;
  height: 41px;
  position: absolute;
  left: 673px;
  top: 448px;
}
.e57_95 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 41px;
  height: 41px;
  position: absolute;
  left: 726px;
  top: 448px;
}
.e57_96 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 41px;
  height: 41px;
  position: absolute;
  left: 779px;
  top: 448px;
}
.e57_97 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 41px;
  height: 41px;
  position: absolute;
  left: 832px;
  top: 448px;
}

